body {
    margin: 0;
}

header {
    height: 100px;

    background-color: indigo;

    text-align: center;
}

main {
    display: flex;
}

.content {
    display: flex;
    width: 100%;

    background-color: darkslateblue;
}

footer {
    height: 50px;

    background-color: gray;

    text-align: center;
}

/*576-767.98*/
@media (max-width: 767.98px) {
    main {
        display: block;
    }
}

